- buckets.each do |value, key|
  %div{ hidden_if(filtered_out?(@view, key)), id: "list_#{key}" }
    %h3{class: key}= t(value)
    .bucket{id: key}= render partial: @view, collection: teammate_tasks[key] || [], as: @view.to_sym, locals: { bucket: key }
- if teammate_tasks.values.flatten.blank?
  = render "empty"
