- if @users_with_opportunities.any?
  - @users_with_opportunities.each do |group, users|
    - if users.any? # || @unassigned_opportunities.any?
      %ul{id: dom_id(@groups.find_by(id: group))}
        .title{style: 'text-align: center;'}
          %span#title
            = @groups.find_by(id: group).name
        = render partial: "user_report", collection: users, cached: true
- else
  = t(:no_opportunities_found)
