%table.shop_row
  %tr
    %td
      .ui-icon.ui-icon-minus{ style: 'display:flex; margin:0.5rem 1rem 0 0; cursor: pointer;' }
    %td
      = select_tag 'opportunity[shops_attributes][][id]', options_for_select(options, s.id), disabled: disabled, class: "shop_id", style: "width: 200px;"
    %td{style: "width: 250px;"}
      = number_field_tag 'opportunity[shops_attributes][][num_seats]', s.num_seats, in: 1...1000, disabled: disabled, class: "shop_num_seats", style: "width: 100px;"
